#gameboard{
    display:none;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);

    height:70vh;
    width:height;
}

.box{
    border:1px solid black;
}

#gameend{
    display:none;
}

#start{
    display:block;
}

#player1alert , #player2alert{
    display:none;
}

#player1markeralert , #player2markeralert{
    display:none;
}

.box:hover{
    background-color: pink;
}