body{
    font-family: Arial, Helvetica, sans-serif;
    display:grid;
    grid-template-rows:0.5fr 3fr;
    height:100vh;
    width:auto;
    justify-content:center;
}

#turn {
    grid-row:1/2;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: 6vw;
    font-weight: bold;
    color: #042f2e;
}

#gameboard{
    grid-row:2/3;

    height:80vh;

    display: none; /* becomes grid when game starts */
    grid-template-rows: repeat(3, minmax(0, 1fr));
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap:10px;
    border-radius: 6px;
    aspect-ratio:1/1; /* maintains square */
}

.unchecked:hover{
    background-color: #0f766e;
}

.box{
    position: relative;
    background-color: #115e59;
    border-radius: 4px;

    display:flex;
    justify-content: center;
    align-items:center;
}

/* markers */
.Xmark, .Omark {
  display:flex;
  justify-content:center;
  align-items:center;
  font-size:30vh;
}

.Xmark{
  color:#042f2e;
}

.Omark{
  color:#5eead4;
}

/* start page */
.opening{
    font-size:40px;
    position:fixed;
    top:50%;
    left:50%;
    margin-top: -50px;
    margin-left: -100px;

    display:flex;
    align-items: center;
    flex-direction: column;
  gap:10px;
}

.title{
  color: #115e59;
}

/* "Start" button */
#start{
    display:block;
    border-radius:50px;
    border:none;
    padding:10px;
    width:80%;
    background-color:#115e59;
    color:#ccfbf1;
}


/* player info box and game end pop up boxes */
#playerselection , #gameover{
    display:none;
    position: fixed;
    top:50%;
    left:50%;
    
    transform: translate(-50%,-50%);
    
    z-index: 2;
    align-content:center;
}

fieldset{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:2fr 0.5fr;
    gap:10px;
  
    border:none;
    border-radius: 25px;
    padding:20px;

    background-color: #0f766e;
    color:#042f2e;
}


/* one section for each player */
.player1, .player2{
    grid-row:1/2;
    display:grid;
    grid-template-rows: 1fr 1fr;
    gap:10px;
    text-align: center;
}

.player1{
    grid-column:1/2
}

.player2{
    grid-column:2/3
}

/* text input boxes for player names */
#player1 , #player2{
    height:100%;
    border-radius:25px;
    border:none;
    padding:5px;
    color:#042f2e;
}

/* remove default styling when the input box is clicked into */
#player1:focus, #player2:focus{
    outline:none;
    box-shadow:0 0 5px 0px #99f6e4;
}

/* reset selection and let's go button */
.formbuttons{
    grid-column:1/3;
    grid-row:2/3;

    display:grid;
    grid-template-columns:1fr 1fr;
    justify-items:center;
}

#resetselection, #startgame{
  border-radius:50px;
  padding:10px;
  border:none;
  width:80%;
  color:#042f2e;
}

/* grid items that are also grids for organizing */
.player1name, .player2name, .player1marker , .player2marker{
    display:grid;
    grid-template-rows: 1fr 0.5fr;
    gap:5px;
}

/* create more space between the player name inputs and marker selection */
.player1name, .player2name {
  padding:10px;
}

/* section for marker selection */
.radiobuttons{
  font-size:20px;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr ;
  grid-template-rows:1fr;
  
  margin:auto;
  gap:10px;
}

/* trying to align/center these labels so they're aligned with the radios */
.playerchoice, .radiobuttons label{
    display:flex;
    justify-content:center;
    align-items:center;
}

/* remove default styling of radio buttons */
input[type='radio'] {
    -webkit-appearance:none;
    width:16px;
    height:16px;
    border:2px solid #042f2e;
    border-radius:50%;
    outline:none;
}

/* lil shadow for when cursor goes over the radio */
input[type='radio']:hover {
    box-shadow:0 0 5px 0px #99f6e4 inset;
}

input[type='radio']:before {
    content:'';
    display:block;
    width:60%;
    height:60%;
    margin: 20% auto;    
    border-radius:50%;    
}

/* selected radio button */
input[type='radio']:checked:before {
    background: #083344;
}

/* doesn't appear unless validation is false */
#player1alert , #player2alert, #player1markeralert, #player2markeralert{
    display:none;
    font-size: 10px;
    color:#ccfbf1;
}

/* pops up only when game ends */
#gameover{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 0.5fr;
    gap:10px;
    align-items: center;

    border:none;
    border-radius: 25px;
    padding:20px;
   width:30vw;

    background-color: #0f766e;
    color:#042f2e;
}

/* lists who wins or if it's a tie */
#gameresult{
    grid-row:1/2;
    grid-column:1/3;
    text-align: center;
  font-weight:bolder;
}

#playagainquestion{
    grid-row:2/3;
    grid-column:1/3;
    text-align: center;
}

/* yes or no buttons */
.gameoverbuttons{
    grid-row:3/4;
    grid-column:1/3;
      
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:5px;
  
    color: #042f2e;
}

#gameresult{
  font-size:5vw;
}

#playagainquestion {
  font-size:4vw;
}

#playagain{
  grid-column:1/2;
}
#endgame{
  grid-column:2/3;
}

#playagain, #endgame{
  color:#042f2e;
  background-color: #f0fdfa;
  border-radius:25px;
  border:none;
  padding:5px;
}

/* shadow for hovering over buttons */
#playagain:hover, #endgame:hover, #resetselection:hover, #startgame:hover, #start:hover {
   box-shadow:0 0 5px 0px #99f6e4;
}